.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loader :global(.react-aria-ProgressBar) {
    width: 50%;
}

.loader :global(.react-aria-ProgressBar-track) {
    background-color: #e0e0e0;
    height: 8px;
    border-radius: 4px;
}

.loader :global(.react-aria-ProgressBar-indicator) {
    background-color: #3b82f6;
    height: 8px;
    border-radius: 4px;
    transition: width 0.3s ease;
}
