.Home__Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    height: 100%;
    min-height: 100vh;
    height: auto;
    margin: auto;
}

.Home__Progress {
    width: 50%;
}
